{% extends "base.html" %}

{% block title %}
{{ pagetitle }}
{% endblock %}

{% block meta %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="right">{% include "pagination.html" %}</div>

<h2>{{ pagetitle }}</h2>

{% for comment in page.content %}
{% include "comment.html" %}
{% endfor %}
{% include "comment_form.html" %}

<a class="back" href="{% url index %}">Alle diskusjoner</a>

<div class="right">{% include "pagination.html" %}</div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}