{% load textiler %}
<div class="{{ comment.classname }}{% if comment.author == user %} own{% endif %}">
    <div class="meta clear">
        <a href="{{ comment.author.profile.url }}">
            <img class="avatar left margin" src="{{ comment.author.profile.avatar }}" alt="{{ comment.author }}">
        </a>
        <span class="user"><strong><a href="{{ comment.author.profile.url }}">{{ comment.author }}</a></strong></span>
        <span class="datetime">{{ comment.created_time }}</span>

        {% if user == comment.author or user.isadmin %}
        <span class="edit"><a href="/ajax{{ comment.get_absolute_url }}/rediger">Rediger</a></span>
        <span class="delete"><a href="/ajax{{ comment.get_absolute_url }}/slett">Slett</a></span>
        {% endif %}

        {% if user == comment.author %}

        <span class="kudos">
            {% if comment.kudos.all %}
            Kudos fra
            {% for kudos in comment.kudos.all %}
            <em>{{ kudos }}</em>{% if not forloop.last %}, {% endif %}
            {% endfor %}
            {% endif %}
        </span>

        {% else %}

        <span class="kudos">
            {% if user in comment.kudos.all %}
            <em>Kudos!</em>
            {% else %}
            <a href="/ajax/kudos/{{ comment.classname }}/{{ comment.id }}">Gi kudos</a>
            {% endif %}
        </span>

        {% endif %}
    </div>

    <div class="content clear">
        {{ comment.body|textile }}
    </div>
</div>