{% extends 'base.html' %}

{% block title %}
{{ pagetitle }}
{% endblock %}

{% block meta %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<a class="button" href="{% url post_discussion %}">Start en ny diskusjon</a>
<ul class="discussions">
    {% for discussion in discussions %}
    <li>
        {% include 'discussion_header.html' %}
    </li>
    {% endfor %}
</ul>

{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}