<a href="{{ discussion.author.profile.get_absolute_url }}">
    <img class="avatar left" src="{{ discussion.author.profile.avatar }}" alt="{{ discussion.author }}">
</a>
<div>
    <h2><a href="{{ discussion.last_comment.get_absolute_url }}">{{ discussion.title }}</a></h2>
</div>
<div class="meta">
    <span class="discussion-author">Startet av <strong><a href="{{ discussion.author.profile.get_absolute_url }}">{{ discussion.author }}</a></strong></span>
    <span class="published">{{ discussion.created_time_formatted }}</span>
    {% if discussion.comment_count > 0 %}
    <span class="comment-count"><strong>{{ discussion.comment_count }}</strong> kommentarer</span>
    <span class="last-commenter">Siste av <strong><a href="{{ discussion.last_commenter.profile.get_absolute_url }}">{{ discussion.last_commenter }}</a></strong></span>
    <span class="last-update">{{ discussion.last_updated_formatted }}</span>
    {% endif %}
</div>