{% extends "base.html" %}

{% block title %}
{{ pagetitle }}
{% endblock %}

{% block meta %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="right">{% with comments as page_obj %}{% include "pagination.html" %}{% endwith %}</div>

<h2>{{ pagetitle }}</h2>
<div id="discussion">
	{% for comment in comments.object_list %}
	{% include "comment.html" %}
	{% endfor %}
</div>

<a class="button" href="{% url index %}">Alle diskusjoner</a>
<div class="right">{% with comments as page_obj %}{% include "pagination.html" %}{% endwith %}</div>
<div class="clear"></div>

{% include "comment_form.html" %}

{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}