{% extends "base.html" %}

{% block title %}
{{ pagetitle }}
{% endblock %}

{% block meta %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="right">{% include "pagination.html" %}</div>

<h2>{{ pagetitle }}</h2>
<div id="discussion">
	{% with discussion as comment %}
	{% include "comment.html" %}
	{% endwith %}
	{% for comment in discussion.comments.all %}
	{% include "comment.html" %}
	{% endfor %}
</div>

<a class="button" href="{% url index %}">Alle diskusjoner</a>
<div class="right">{% include "pagination.html" %}</div>
<div class="clear"></div>

{% include "comment_form.html" %}

{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}