{% extends 'base.html' %}

{% block title %}
{{ pagetitle }}
{% endblock %}

{% block meta %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="right">{% include "pagination.html" %}</div>
<a class="button" href="{% url index %}">Alle diskusjoner</a>
<a class="button" href="">Mine diskusjoner</a>
<a class="button" href="">Mine utkast</a>

<ul id="discussions">
    {% for discussion in discussions %}
    <li class="discussion{% if discussion.author == user %} own{% endif %}">
        {% include 'discussion_header.html' %}
    </li>
    {% endfor %}
</ul>

<div class="right clear">{% include "pagination.html" %}</div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}