{% extends "base.html" %}

{% block title %}
{{ pagetitle }}
{% endblock %}

{% block meta %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="right">{% include "pagination.html" %}</div>

<h2>{{ pagetitle }}</h2>

{% with discussion as comment %}
{% include "comment.html" %}    
{% endwith %}

{% for comment in comments %}
{% include "comment.html" %}
{% endfor %}

<div class="right">{% include "pagination.html" %}</div>
<p><a class="button back" href="{% url index %}">Alle diskusjoner</a></p>

{% include "comment_form.html" %}

{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}