<a href="{{ topic.author.profile.url }}">
    <img class="avatar" src="{{ topic.author.profile.image.url }}" alt="{{ topic.author }}">
</a>
<div>
    <a href="{{ topic.url }}">{{ topic.name }}</a>
</div>
<div class="meta">
    <span class="topic-author">Startet av {{ topic.author }}</span>
    <span class="comment-count">{{ topic.comment_count }} kommentarer</span>
    <span class="last-commenter">Siste av {{ topic.last_commenter }}</span>
    <span class="last-update">{{ topic.last_update }}</span>
</div>